.pg1-section1 {
    
    @include section;
    
    .transitioner {
        @include transitioner;
        transform: rotate(3deg);
        height:30vh;
        bottom:-20vh;
    }
    
    @include main-axis-flex-end;
    @include cross-axis-flex-start;
    
    height: 100vh;
    z-index: -1;
    padding-left: 2%;
    
    .bg{
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/redlady_black.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position:top;
        width:100%;
        height:100%;
        z-index: -1;

        position: absolute;
        top:0;
        left:0;
    }
    
    p{
        width:40%;
        font-weight: 400;
        flex-basis: 15%;
    }
    
    .title-separator {
        margin: 1% 0 2% 0;
        width: percentage(110px/600px);
        border-bottom: 5px solid $color-base;
    }
    .btn-a {
        margin-bottom: 5%;
    }
    
    
}

.pg1-section2 {
    @include section;
    background-color: black;
    @include main-axis-flex-start;
    @include cross-axis-center;
    
    
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    p {
        width: 60%;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .features-container{
        @include flex-row
        width: 100%;
        //flex-wrap: wrap;
        
        p{
            text-align: center;
            width: 80%;
            color:rgba(255,255,255,0.7);
        }
    }
    
    .feature-container{
        @include flex-column;
        @include main-axis-flex-start;
        @include cross-axis-center;
        
    }
    
    h4{
        font-weight: 400;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    
    
    i{
        color:$color-base;
        margin-bottom: 4%;
        transition: all 0.2s linear;
        &:hover{
            transform: scale(0.9,0.9);
        }
    }
}

.pg1-section3 {
    @include section;
    
    background-color: #0e0e0e;
    @include flex-row;
    @include main-axis-flex-start;
    @include cross-axis-center;
    
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    .platform-img{
        width: 50%;
        height:100%;
    }
    
    p{
        width:95%;
        //margin-bottom: 5%;
    }
    
    
    .btn-a {
        margin-top: 7%;
        
    }
    
    
    .info-container{
        
        margin-left: 1%;
        //margin-top: 3%;
        @include flex-column;
        @include main-axis-center;
        @include cross-axis-flex-start;
        
        width:50%;
    }
    
    button.accordion{
        @include fontsize(18px,$document-fontsize);
        font-weight: 400;
    }
    
}

.pg1-section4 {
    @include section;
    @include flex-row;
    background-color: #000000;
    position: relative;
    @include main-axis-flex-start;
    @include cross-axis-center;
    
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    .feature-img-container{
        width: 50%;
        height:100vh;
        overflow: hidden;
        text-align: center;
        
    }
    .feature-img{
        width: auto;
        height:100%;
        position: relative;
        left: 100%;
        margin-left: -200%;
    }
    
    .info-container{
        display: flex;
        margin-left: 1%;
        //margin-top: 3%;
        @include flex-column;
        @include main-axis-center;
        @include cross-axis-flex-start;
        width:50%;
    }
    
    button.accordion{
        @include fontsize(18px,$document-fontsize);
        font-weight: 400;
    }
    
    h2{
        width: 95%;
    }
    
    p{
        width:95%;
        margin-bottom: 5%;
    }
    
    .btn-b {
        margin-top: 5%;
    }
}


.pg1-section5 {
    @include section;
    background-color: black;
    padding-top: 2%;
            
    @include main-axis-center;
    @include cross-axis-center;
    
    h2{
        flex-basis: 10%;
    }
    p{
        padding-bottom: 10%;
    }
    contactus-form {
        width:70%;
        
    }

}
