
@mixin fontsize($target, $context:$document-fontsize) {
    font-size: #{$target/$context}em;
}

@mixin button {
    padding:15px 25px 15px 25px;
    font-size: 1em;
    color:$font-color;
    font-weight: 600;
    cursor:pointer;
    outline: none;
}

@mixin flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
	        flex-direction:column;
    
}

@mixin flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
}

@mixin main-axis-center{
    -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

@mixin main-axis-flex-start {
    -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
}

@mixin main-axis-flex-end {
    -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
}

@mixin main-axis-space-around {
    -ms-flex-pack:distribute;
      justify-content:space-around;
}

@mixin main-axis-space-between {
      -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

@mixin cross-axis-center {
    -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

@mixin cross-axis-flex-start {
      -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}

@mixin cross-axis-flex-end {
      -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:end;
}

@mixin cross-axis-stretch {
    -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
}



@mixin section {
    padding:0;
    position: relative;
    min-height:100vh;
    -ms-flex-negative:0;
    flex-shrink:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	@include flex-column;
    
}

@mixin boxed-section {
    
    @include section;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 10%;
    
    @include main-axis-space-around;
    @include cross-axis-center;
    
    text-align: center;
    width: 100%;
    position: relative;
    
    p{
        color: rgba(255,255,255,0.7);
        width: 70%;
        margin-bottom: 8%;
    }
    h2 {
        font-weight: 100;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    a {
        font-weight: 400;
        @include fontsize(20px);
    }
    
    .resources-container {
        width: 96%;
        
        height: 100vh;
        @include flex-column;
        @include main-axis-flex-start;
        
    }
    
    .resources {
        
        @include flex-row;
        @include main-axis-center;
        
        
        height: 100%;
        width:100%;
        
        @include cross-axis-stretch;
        
    }
    
    
    
    .resource {
        height: 40vh;
        width: 25%;
        @include flex-row;
        @include main-axis-center;
        @include cross-axis-center;
        
        position: relative;
    }
    
    
    .resources-container:last-child {
        margin-bottom: 20%;
    }
    
    .resources-container:nth-child(odd) {
        .resource:nth-child(2n-1) {
            background-color: #181818;
        }
        .resource:nth-child(2n){
            background-color: #202020;
        }
        .resource:hover {
            background-color: $color-base;
        }
    }
    
    .resources-container:nth-child(even){
        .resource:nth-child(2n) {
            background-color: #181818;
        }
        .resource:nth-child(2n-1){
            background-color: #202020;
        }
        .resource:hover {
            background-color: $color-base;
        }
    }
    
    .download-btn {
        position: absolute;
        bottom: -2px;
        text-align: center;
        opacity: 0;
        transition: all 0.2s ease-in;
        left:0;
        width: 100%;
    }
    
    
    .resource:hover .download-btn {
        opacity: 1;
        bottom:5%;
    }
}

@mixin transitioner{

    width:150%;
    background-color: black;
    margin:0;
    padding:0;
    z-index:-1;
    position: absolute;
    left: -50px;
}
