
$document-fontsize:16px;
$font-color:white;
$color-base:rgb(242, 78, 78);

@mixin fontsize($target, $context:$document-fontsize) {
    font-size: #{$target/$context}em;
}

@mixin button {
    padding:15px 25px 15px 25px;
    font-size: 1em;
    color:$font-color;
    font-weight: 600;
    cursor:pointer;
    outline: none;
}

@mixin section {
    padding:0;
    position: relative;
    min-height:100vh;
    
    display: flex;
    flex-direction: column;
    .info-container{
        display: flex;
        margin-left: 1%;
        //margin-top: 3%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width:50%;
    }
    
    button.accordion{
        @include fontsize(18px,$document-fontsize);
        font-weight: 400;
    }
}

@mixin boxed-section {
    
    @include section;
    background-color: black;
    padding-top: 2%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    flex-grow: 1;
    
    p{
        color: rgba(255,255,255,0.7);
        width: 70%;
        margin-bottom: 8%;
    }
    h2 {
        font-weight: 100;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    a {
        font-weight: 400;
        @include fontsize(20px);
    }
    
    .resources {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 96%;
        align-items:stretch;
        height: 40vh;
    }
    
    .container2 {
        margin-bottom: 10%;
    }
    
    .resource {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }
    .resource:nth-child(2n-1) {
        background-color: #181818;
    }
    .resource:nth-child(2n){
        background-color: #202020;
    }
    
    .download-btn {
        position: absolute;
        bottom: -2px;
        text-align: center;
        opacity: 0;
        transition: all 0.2s ease-in;
    }
    
    .resource:hover {
        background: $color-base;
    }
    
    .resource:hover .download-btn {
        opacity: 1;
        bottom:5%;
    }
}

@mixin transitioner{

    width:150%;
    background-color: black;
    margin:0;
    padding:0;
    z-index:-1;
    position: absolute;
    left: -50px;
}


input {
    border-bottom:1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: none;
    float: left;
    &:focus{
        border-bottom: 2px solid white;
    }
    color: $font-color;
    @include fontsize(16px);
}
html{
    font-size: $document-fontsize;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    color:$font-color;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
    color:$font-color;
}

h1 {
    @include fontsize(45px);
    
    margin:0;
}

h2 {
    @include fontsize(32px);
    font-weight: 100;
    margin:0;
}

h3 {
   @include fontsize(25px);
    
    font-weight: 100;
    margin:0;
}
h4 {
    @include fontsize(20px);
    
    font-weight: 100;
    margin:0;
}
h5 {
    @include fontsize(18px);
    
    font-weight: 100;
    margin:0;
}
p {
    @include fontsize(15px);
}

.btn-a {
    @include button;
    border: 1px solid $color-base;
    border-radius:25px;
    background: $color-base;
    z-index: 1;
    @include fontsize(14px); 

    &:hover{
        background: linear-gradient(to right, darken($color-base,6%), darken($color-base,4%));
    }
}

.btn-b {
    @include button;
    border: 1px solid white;
    border-radius:25px;
    background: none;
    z-index: 1;
    @include fontsize(14px); 

    &:hover{
        background: white;
        color:black;
    }
}

.btn-c {
    @include button;
    border: 1px solid $color-base;
    color:$color-base;
    border-radius:25px;
    background: none;
    z-index: 1;
    @include fontsize(14px); 

    &:hover{
        background: $color-base;
        color:white;
    }
}

.input-container {
    
    position: relative;
    @include fontsize(14px);
    
    input:focus ~ .floating-label{
      top: -15px;
      
      left: 0px;
      @include fontsize(12px);
      opacity: 1;
    }
    
    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: -2px;
        color: white;
        transition: 0.2s ease all;
        
        &.hide-label {
            display: none;
        }
    }
    
    
}

.contact-us-form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100%;
    .inline-container{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .btn-a {
        width: 20%;
    }
}
.input-container {
    width:100%;
}
.contact-message {
    width: 94%;
}
.contact-inline {
    width: 80%;
}


header{
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    
    position: absolute;
    
    top:0;
    left:0;
    width:100%;
    z-index:1;
    nav {
        margin-left: auto;
        
    }
    
    .logo {
    

        background-image: url('../images/accernlogosquare-4.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 90px;
        width: 200px;
        text-indent: -9999px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2%;
    }
    ul{
    
        text-align: center;
        font-weight: 600;
        color: $font-color;
        @include fontsize(14px,$document-fontsize);       //mixin
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        li{ 
            margin:0;
            padding: 12px;
            transform-origin: center;

            &:after {
              display:block;
              content: '';
              border-bottom: solid 2px white;  
              transform: scaleX(0);  
              transition: transform 250ms ease-in-out;
            }
            &:hover:after { transform: scaleX(1); }
        }

        li:last-child{
            margin-right: 1%;
        }

        .separator {

            width: 4px;
            height:4px;
            border-radius: 50%;
            background-color: white;
            opacity: 0.7;
            padding:0;
        }    
    }
    

}


.pg1-section1 {
    
    @include section;
    
    .transitioner {
        @include transitioner;
        transform: rotate(3deg);
        height:30vh;
        bottom:-20vh;
    }
    
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    z-index: -1;
    padding-left: 2%;
    
    .bg{
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/redlady_black.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position:top;
        width:100%;
        height:100%;
        z-index: -1;

        position: absolute;
        top:0;
        left:0;
    }
    
    p{
        width:40%;
        font-weight: 400;
        flex-basis: 15%;
    }
    
    .title-separator {
        margin: 1% 0 2% 0;
        width: percentage(110px/600px);
        border-bottom: 5px solid $color-base;
    }
    .btn-a {
        margin-bottom: 5%;
    }
    
    
}

.pg1-section2 {
    @include section;
    background-color: black;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    top:0vh;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    p {
        width: 60%;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .features-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        //flex-wrap: wrap;
        
        p{
            text-align: center;
            width: 80%;
            color:rgba(255,255,255,0.7);
        }
    }
    
    .feature-container{
        display: flex;
        //flex-wrap: wrap;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
    }
    
    h4{
        font-weight: 400;
    }
    
    
    
    i{
        color:$color-base;
        margin-bottom: 4%;
        transition: all 0.2s linear;
        &:hover{
            transform: scale(0.9,0.9);
        }
    }
}

.pg1-section3 {
    @include section;
    flex-direction: row;
    background-color: #0e0e0e;

    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    .platform-img{
        width: 50%;
        height:100%;
    }
    
    p{
        width:95%;
        //margin-bottom: 5%;
    }
    
    
    .btn-a {
        margin-top: 7%;
        
    }
    
    
    
    
}

.pg1-section4 {
    @include section;
    flex-direction: row;
    background-color: #000000;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    .feature-img-container{
        width: 50%;
        height:100vh;
        overflow: hidden;
        text-align: center;
        
    }
    .feature-img{
        width: auto;
        height:100%;
        position: relative;
        left: 100%;
        margin-left: -200%;
    }
    
    h2{
        width: 95%;
    }
    
    p{
        width:95%;
        margin-bottom: 5%;
    }
    
    .btn-b {
        margin-top: 5%;
    }
}


.pg1-section5 {
    @include section;
    background-color: black;
    padding-top: 2%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    h2{
        flex-basis: 10%;
    }
    p{
        flex-basis: 10%;
    }
    contactus-form {
        width:70%;
        flex-basis: 50%;
    }

}

footer {
    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
    align-items: center;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgba(255,255,255,0.7);
    
    .logo {
    

        background-image: url('../images/accernlogosquare-4.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 50px;
        width: 150px;
        text-indent: -9999px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2%;
    }
    span{
        margin-right: 3%;
        @include fontsize(12px);
    }
    
    
}


.pg2-section1 {
    @include section;
    
    .transitioner {
        @include transitioner;
        transform: rotate(-3deg);
        height:40vh;
        bottom:-10vh;
    }
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .bg{
        width:inherit;
        background: url('../images/page2section1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position:top center;
        width:100%;
        height:100%;
        z-index: -1;

        position: absolute;
        top:0;
        left:0;
    }
    h1{
        font-weight: 100;
    }
}


.pg2-section2 {
    @include section;
    background-color: black;
    padding-top: 2%;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100vh;
    text-align: left;
    width: 100%;
    position: relative;
    
    .content-container1{
        flex-basis: 40%;
        height: 100%;
    }
    .content-container2{
        flex-basis: 30%;
        height: 100%;
        margin-left: 3%;
        strong {
            @include fontsize(32px);
            color: $color-base;
        }
    }
    h2 {
        border-bottom: 1px solid white;
        font-weight: 600;
    }
    .history{
        color: rgba(255,255,255,0.7);
    }
    p{
        color: white;
    }
    h3{
        font-weight: 600;
        line-height: 1.5em;
    }
    
    .btn-c {
        width:80%;
        margin-top: 3%;
    }
    
    
}



.pg2-section3 {
    @include section;
    background-color: #0e0e0e;
    padding-top: 2%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    text-align: left;
    width: 100%;
    position: relative;
    
    .process{
        margin-top: 5%;
        height:40%;
        width:80%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .step-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
        height:100%;
    }
    
    .process-step{
        
        border:2px solid $color-base;
        border-radius: 50%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .step1{
        
        height:30vh;
        width: 30vh;
    
    }
    
    
    .step2{
        
        height:25vh;
        width: 25vh;
    
    }
    
    
    .step34{
        
        height:20vh;
        width: 20vh;
    
    }
    
    .process-head {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }
    
    .line{
        width: 5%;
        border-bottom: 1px dashed white;
    }
    
    h5 {
        font-weight: 600;
    }
    
    h6 {
        @include fontsize(16px);
    }
    
}

.pg2-section4{
    
    @include boxed-section;
    
    
    .partner-logo {
        width:200px;
        height: auto;
    }
    
    .container2 {
        .resource:nth-child(2n) {
            background-color: #181818;
        }
        .resource:nth-child(2n-1){
            background-color: #202020;
        }
    }
    
}


.pg3-section1 {
    
    @include section;
    
    .transitioner {
        @include transitioner;
        transform: rotate(-3deg);
        height:20vh;
        bottom:-10vh;
    }
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .bg{
        width:inherit;
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/pg3section1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position:center center;
        width:100%;
        height:100%;
        z-index: -1;

        position: absolute;
        top:0;
        left:0;
    }
    h1{
        font-weight: 600;
    }
    h5{
        line-height: 0.5em;
    }
}

.pg3-section2 {
    
    @include boxed-section;
    
    height: 100vh;
}



.pg4-section1 {
    
    @include section;
    
    .transitioner {
        @include transitioner;
        transform: rotate(-3deg);
        height:20vh;
        bottom:-10vh;
    }
    
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
    flex-direction: column;
    height: 100vh;
    .bg{
        width:inherit;
        background: url('../images/contact.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position:top center;
        width:100%;
        height:100%;
        z-index: -1;

        position: absolute;
        top:0;
        left:0;
    }
    h2 {
        font-weight: 100;
    }
}

.pg4-section2 {
    @include section;
    background-color: black;
    padding-top: 2%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
    
    contactus-form {
        width:90%;
        flex-basis: 50%;
    }
}



button.accordion {
    color: rgba(255,255,255,0.7);
    background: none;
    cursor: pointer;
    padding: 4%;
    width: 100%;
    text-align: left;
    border-top: 1px solid rgba(210,210,210,0.6);
    border-left: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    transition: 0.4s;
    
    .acc-pointer{
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .acc-pointer.down{
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    color: darken(rgba(255,255,255,0.7),15%);
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding:0 5%;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p {
        color:rgba(241, 241, 241, 0.7);
        @include fontsize(15px,$document-fontsize);
    }
}





@media screen and (max-width:500px){
    .pg1-section1 {
        align-items: center;
        p {
            width: 100%;
        }
    }
}


