<!DOCTYPE html>
<html ng-app="accern">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Home - Accern">
        <meta property="og:url" content="https://www.accern.com/">
        <meta property="og:site_name" content="Accern">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Home - Accern">
        <title>Home - Accern</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
        <script src="https://use.fontawesome.com/38986e3cdf.js"></script>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-route.min.js"></script>
    </head>
    <body>
    
        
        <ng-view></ng-view>
        
        
        <script src="scripts/app.js"></script>
        <script src="scripts/services/appfactory.js"></script>
        <script src="scripts/controllers/homeController.js"></script>
        <script src="scripts/controllers/navController.js"></script>
        <script src="scripts/controllers/footerController.js"></script>
        <script src="scripts/directives/navbar.js"></script>
        <script src="scripts/directives/footer.js"></script>
        
    </body>


</html>