<section class="pg2-section1">
    
    <div class="bg"></div>
    <h5>An Overview Of Accern</h5>
    <h1>We Are Distrupting FinTech</h1>
    <div class="transitioner"></div>
    
</section>

<section class="pg2-section2">

    <div class="content-container1">
        <h5 class="history">History of Accern</h5>
        <h2>Our Desire to Automate the Discovery of Early News</h2>
        <p>
            Accern was born in late 2013 out of a desire to automate the discovery of early financial news. We wanted to eliminate the manual process of going to multiple news websites to find actionable news story. Furthermore, we wanted to eliminate the cost of clients subscribing to multiple news platforms and data feeds. By building upon this concept, we rapidly grew to covering over 300 million public news websites, blogs, social media websites such as Twitter, and public financial documents such as SEC filings. With a skilled team of PhDs and computer engineers, we have positioned ourselves at No.1 in finance news sentiment in terms of our web coverage. 
        </p>
    </div>
    <div class="content-container2">
        <h3><strong>40</strong> Billion($) AUM Influenced</h3>
        <p>Accern primarily serves institutional investors. The majority of our current clients are quantitative hedge funds. Many small firms are coming to us because of our flexible and affordable pricing options. Large firms are coming to us due to our dedicated support, news source customization, and much more. Aside from hedge funds, our existing clients include pension and endowment funds, banks, brokerage firms, and more.
        </p>
        <button class="btn-c">See Reports</button>
    </div>
</section>

<section class="pg2-section3">
    <h2><strong>Our Technical Process</strong> Of Discovering Early News</h2>
    <div class="process">
        <div class="step-container">
            <div class="process-step step1">
                <h5>Content</h5>
            </div>
        </div>
        
        <div class="line"></div>
        
        <div class="step-container">
            <div class="process-step step2">
                <h5>Filters</h5>
            </div>
        </div>
        <div class="line"></div>
        
        <div class="step-container">
            <div class="process-step step34">
                <h5>Analytics</h5>
            </div>
        </div>
        
        <div class="line"></div>
        <div class="step-container">
            <div class="process-step step34">
                <h5>Delivery</h5>
            </div>
        </div>
    </div>
    
</section>

<section class="pg2-section4">
    <h2>Our Supportive <strong>Partners</strong></h2>
    <div class="resources-container">
        <div class="resource" ng-repeat="partner in partners1"><img class="partner-logo" ng-src="{{getImageSrc(partner)}}" /><a class="download-btn">{{partner}}</a></div>
    </div>
    <div class="resources-container">
        <div class="resource" ng-repeat="partner in partners2"><img class="partner-logo" ng-src="{{getImageSrc(partner)}}" /><a class="download-btn">{{partner}}</a></div>
    </div>
</section>