<form class="contact-us-form">
    <div class="inline-container">
        <div class="input-container">
            <input ng-model="name" type="text"  class="contact-inline" />
            <span ng-class = "{'hide-label' : name!=''}" class="floating-label">Name</span>
        </div>

        <div class="input-container">
            <input ng-model="email" type="email" class="contact-inline" />
            <span ng-class = "{'hide-label' : email!=''}" class="floating-label">Email</span>
        </div>

        <div class="input-container">
            <input ng-model="subject"  type="text" class="contact-inline" />
            <span class="floating-label" ng-class = "{'hide-label': subject!=''}" >Subject</span>
        </div>
    </div>
    <div class="input-container">
        <input type="text" ng-model="message"  class="contact-message" />
        <span class="floating-label" ng-class = "{'hide-label' : message != ''}">Message</span>
    </div>
    <button type="submit" class="btn-a" >Send</button>
</form>