<section class="section1">
    <div class="bg"></div>
    <navbar></navbar>
    <h1>Early News Alert</h1>
    <h3>On U.S. Public Equities</h2>
    <div class="title-separator"></div>
    <p>Get the most advanced breaking news technology for your investment strategies. Over 300 million websites are monitored in real time for early news on U.S. public equities.</p>
    <button class="btn-a"><i class="fa fa-arrow-right" aria-hidden="true"></i> Try Web App</button>
    <div class="transitioner"></div> 
</section>

<section class="section2">
    <h2><b>Leader</b> In News and Social Analytics</h2>
    <p>In just over three years, Accern has rapidly grown to become the market leader in the news and social analytics space in terms of content coverage. Trading alerts and analytics are derived from relevant finance-related news processed on over 300 million websites in real time for institutional investors.</p>
    <div class="features-container">
        <div class="feature-container">
            <div class="icon-container"></div>
            <i class="fa fa-3x fa-newspaper-o" aria-hidden="true"></i>
            <h4>News Coverage</h4>
            <p>We currently have the largest finance news coverage in the world by monitoring 300 million news websites, blogs, and social media feeds such as Twitter.</p>
        </div>
        <div class="feature-container">
             <i class="fa fa-3x fa-fighter-jet" aria-hidden="true"></i>
            <h4>Low-Latency</h4>
            <p>In a few milliseconds, Accern captures articles as soon as they are published online and derives trading analytics to be delivered to customers.</p>
        </div>
        <div class="feature-container">
             <i class="fa fa-3x fa-check" aria-hidden="true"></i>
            <h4>News Quality</h4>
            <p>We provide news that are relevant to U.S. public equities 99% of the time, using our proprietary algorithms built solely to tackle data quality issues.</p>
        </div>
        <div class="feature-container">
             <i class="fa fa-3x fa-inverse fa-tag" aria-hidden="true"></i>
            <h4>Affordable</h4>
            <p>We save customers time and energy, and cut more than 50% in news data costs by helping them integrate any type of news sources they need. </p>
        </div>
    </div>
</section>

<section class="section3">
    
    <img class="platform-img" src="images/platform2017-1.png" alt="How Accern Dashboard looks" />
    <div class="platform-info-container">
        <h2>Get Tradable Alerts </h2>
        <p>Use our web application to get early news on over 8,000 U.S. public equities sourced from over 300 million news websites, blogs, and social media feeds such as Twitter. With easy–to-use features, you can get set up in minutes and start trading on custom news alerts we deliver to you.</p>
        <button class="accordion"><h5>Trade On Early News</h5></button>
        <div class="panel">
          <p>Our massive coverage of 300 million websites allows us to find and deliver early stories on U.S. public equities to our customers.</p>
        </div>
        
        <button class="accordion"><h5>Build Custom Alerts</h5></button>
        <div class="panel">
          <p>Our app allows you to build custom news alerts geared specifically towards your trading strategy. If requested, we can even help you build them.</p>
        </div>
        
        <button class="accordion"><h5>Use Trading Analytics</h5></button>
        <div class="panel">
          <p>We derive analytics such as sentiment, impact, news exposure, news reliability rankings, and much more from each article.</p>
        </div>
        
        <button class="btn-a"><i class="fa fa-arrow-right" aria-hidden="true"></i> Try Web App</button>
    </div>
    
    
</section>
