<header>
    <h1 class="logo">Accern</h1>
    <nav>
        <ul>
            <li><a href="#!/">Home</a></li>
            <li class="separator">&nbsp;<a>&nbsp;</a></li>
            <li><a href="#!/company">Company</a></li>
            <li class="separator">&nbsp;<a>&nbsp;</a></li>
            <li><a href="#!/resources">Resources</a></li>
            <li class="separator">&nbsp;<a>&nbsp;</a></li>
            <li><a href="#!/contact">Contact</a></li>
            <li class="separator">&nbsp;<a>&nbsp;</a></li>
            <li><a>Login</a></li>
            <li><a><i class="fa fa-search" aria-hidden="true"></i></a></li>
        </ul>
    </nav>

</header>