<section class="pg3-section1">
    <div class="bg"></div>
    <h5>Downloadable</h5>
    <h1>Resources</h1>
    <div class="transitioner"></div>

</section>


<section class="pg3-section2">
    
    <h2><strong>API</strong> Resources</h2>
    <p>Feel free to download all of our API resources to help you get a better understanding of our product. If you have further questions, please feel free to contact us at info@accern.com.</p>
    <div class="resources-container">
        <div class="resource"><h3>API GUIDE</h3><a class="download-btn">Download</a></div>
        <div class="resource"><h3>API SAMPLE</h3><a class="download-btn">Download</a></div>
        <div class="resource"><h3>WHITEPAPERS</h3><a class="download-btn">Download</a></div>
        <div class="resource"><h3>BACKTEST REPORTS</h3><a class="download-btn">Download</a></div>
    </div>
</section>